<div class="auth">
    <div class="name">Авторизация</div>
    <div class="block">
        <input type="text" name="fio" placeholder="ФИО" />
        <input type="text" name="nick" placeholder="Ник" />
        <div class="errorAuth"></div>
        <div class="knopkaAuth">Войти</div>
    </div>
</div>