<div class="img">
    <div id="dropArea">
        Перетащите сюда фото
    </div>
    <img id="foto">
    <div class="imgBut imgOtmena">Отмена</div>
    <div class="imgBut imgSet">Установить</div>
</div>