<div class="menu">
    <div class="top">
        <div class="logot">
            {{#if img}}
                <img class="imgLogo" imgLogo src="./img/not.png"/>
            {{else}}
                <img class="imgLogo" imgLogo src="./img/not.png"/>
            {{/if}}
        </div>
        <div class="h1">{{h1}}</div>
    </div>
    <div class="h2">Участники (<span id="countUser">0</span>)</div>
</div>
<div class="msg">
</div>
