<div class="sender">
    <div class="div1">
        <input type="text" name="sender" class="senderInput">
    </div>
    <div class="div2">
        <div class="send">Отправить</div>
    </div>
</div>